---
---

@import "{{ site.theme }}";

body {
  background-color: #e7e7e3;
}

.site-header {
  background-color: #003236;
}

.site-title {
  color: #ffffff !important; 
  font-size: 35px; 
  text-align: left !important;
}

.page-link {
  color: #ffffff !important; 
  font-weight: bold;
  font-size: large !important;
}

.center-image
{
  margin: auto;
  display: block;
  border: 10px solid #003236;
  border-radius: 10%;
}

.post-title {
  font-size: 32px;
  color: #003236;  
}

h1 {
  font-size: 24px;
  color: #003236;
  padding-top: 16px;
}

h2 {
  font-size: 22px !important;
  color: #003236;
  padding-top: 13px;
}

h3 {
  font-size: 20px !important;
  color: #003236;
  padding-top: 10px;
}
